@import "./media.css";

.descbox__main {
    width: 329px;
    height: 340px;
    box-shadow: 0 0 10px lightgray;
    border-radius: 1rem;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 300ms ease;
    margin: 1rem;
    position: relative;
}

.descbox__main:hover {
    box-shadow: 0 0 30px lightgray, 0 0 5px lightgray inset;
}

.descbox__title {
    color: var(--black-color);
    font-size: 1.4em;
}

.descbox__text {
    color: var(--gray-color);
    font-size: 1.1em;
    line-height: 1.5rem;
}

.descbox__video {
    position: relative;
    width: fit-content;
}

.descbox__main::before {
    content: "";
    width: 70%;
    height: 30px;
    margin: auto;
    border-radius: 10rem;
    background-color: var(--primary-die-color);
    position: absolute;
    right: 0;
    left: 0;
    z-index: 2;
}