@import "../modules-styles/description-box/description-box.css";
@import "../templates_styles/header/header.css";
@import "../templates_styles/work-sample/work-sample.css";

.index__main {}

.index__header {}

.index__boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
    flex-wrap: wrap;
}