@import "../modules-styles/description-box/description-box.css";
@import "../templates_styles/header/header.css";
@import "../templates_styles/work-sample/work-sample.css";
@import "../modules-styles/img-box/img-box.css";
@import "../templates_styles/customer/customer.css";
@import "../templates_styles/latest-content/latest-content.css";
@import "../templates_styles/advertisment/advertisment.css";

/* .index__main {}

.index__header {} */

.index__boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
    flex-wrap: wrap;
}

.index-customers__title {
    width: fit-content;
    text-align: center;
    margin-bottom: 7rem;
    font-size: 2.7em;
    position: relative;
}

.index-customers__title::before {
    content: "♥";
    color: brown;
    width: 45px;
    height: 50px;
    background-color: transparent;
    box-shadow: 0 0 10px var(--primary-die-color) inset, 0 0 15px var(--primary-die-color);
    border: 1px solid var(--primary-color);
    position: absolute;
    top: -40px;
    left: -50px;
    z-index: -1;
    border-radius: 2rem;
    animation-name: love;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes love {
    to {
        color: white;
        width: 55px;
        height: 50px;
        background-color: rgba(165, 42, 42, .5);
        border: 1px solid transparent;
    }

    from {
        width: 45px;
        height: 50px;
        background-color: transparent;
        border: 1px solid var(--primary-color);
    }
}