.article__main {
    background-color: transparent;
    width: 378px;
    height: 388px;
    border-radius: 1.5rem;
    box-shadow: 0 0 15px lightgray;
    transition: all 300ms;
}

.article__main:hover {
    box-shadow: 0 0 25px lightgray;
}

.article__Link {
    padding: 2rem;
    height: inherit;
    color: black !important;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}
.article__title {

}
.article__text {

}
.article__footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.article__btn {

}
.article__arrow {

}