@import "./media.css";

.article__main {
    width: 378px;
    height: 388px;
    border-radius: 1.5rem;
    box-shadow: 0 0 15px gray;
    transition: all 300ms;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 400ms;
    z-index: 2;
}

.article__main:hover .article__img {
    filter: contrast(.5) !important;
}

.article__main::before {
    content: "";
    width: 200px;
    height: 70px;
    border-radius: 1rem;
    background-color: lightgrey;
    box-shadow: 0 0 10px gray;
    position: absolute;
    bottom: -40px;
    z-index: -1;
    transition: all 400ms ease;
}

.article__main:hover::before {
    width: 80%;
    background-color: var(--primary-mid-color);
    box-shadow: 0 0 25px var(--primary-mid-color);
}

.article__main:hover {
    background-color: var(--primary-mid-color);
    box-shadow: 0 0 25px var(--primary-mid-color);
}

.article__main:hover .article__img {
    transform: scale(95%);
}

.article__img {
    filter: contrast(.2);
    z-index: 0;
    border-radius: 1.5rem;
    position: absolute;
    width: inherit;
    height: inherit;
    object-fit: cover;
    transition: all 400ms;
}

/*!  */
.article__link {
    transform-style: preserve-3d;
    transition: transform .1s ease;
    padding: 2rem;
    height: inherit;
    color: var(--white-color) !important;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.article__link:hover {
    transform: perspective(1000px) rotateX(10deg) rotateY(10deg);
}

.article__text {
    line-height: 1.7rem;
}

.article__footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}