@import "../customer/customer.css";

.customers__main {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customers__slider {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customers__title {
    width: fit-content;
    text-align: center;
    margin-bottom: 7rem;
    font-size: 2.7em;
    position: relative;
}

.customers__title::before {
    content: "♥";
    color: brown;
    width: 45px;
    height: 50px;
    background-color: transparent;
    box-shadow: 0 0 10px var(--primary-die-color) inset, 0 0 15px var(--primary-die-color);
    border: 1px solid var(--primary-color);
    position: absolute;
    top: -40px;
    left: -50px;
    z-index: -1;
    border-radius: 2rem;
    animation-name: love;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.customers__normal {
    transform: scale(1);
    filter: blur(0);
    transition: all 400ms;
    z-index: 2;
}

.customers__normal.hidden {
    transform: scale(.8);
    filter: blur(5px);
    transition: all 400ms;
    z-index: 1;
}

.customers__active-1 {
    transform: translateX(1060px);
}

.customers__active-2 {
    transform: translateX(0);
}

.customers__active-3 {
    transform: translateX(-1060px);
}

.customers__hidden-2-left {
    transform: translateX(-1060px) scale(.8) !important;
}

.customers__hidden-2-right {
    transform: translateX(1060px) scale(.8) !important;
}

@keyframes love {
    to {
        color: white;
        width: 55px;
        height: 50px;
        background-color: rgba(165, 42, 42, .5);
        border: 1px solid transparent;
    }

    from {
        width: 45px;
        height: 50px;
        background-color: transparent;
        border: 1px solid var(--primary-color);
    }
}