@media screen and (max-width: 1016px) {
    .worksample__picture {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)) !important;
    }
}

@media screen and (max-width: 600px) {
    .worksample__title {
        font-size: 2em !important;
    }

    .worksample__li {
        font-size: 1.1em !important;
    }

    .worksample__ul {
        gap: 20px !important;
    }
    
}

@media screen and (max-width: 350px) {
    .worksample__title {
        font-size: 1.5em !important;
    }

    .worksample__li {
        font-size: .9em !important;
    }

    .worksample__ul {
        gap: 10px !important;
    }


    .worksample__picture {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)) !important;
    }
    
}