@import "./media.css";

.worksample__normal{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: all 400ms ease;
}

.worksample__normal.hidden {
    opacity: 0;
    visibility: hidden !important;
    transform: scale(0.8);
    transition: all 400ms ease;
}

.worksample__main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.worksample__title {
    font-size: 2.7em;
    text-shadow: -5px -5px 3px lightgray;
    padding-top: 3rem;
    padding-bottom: .5rem;
}

.worksample__ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.worksample__li {
    text-shadow: 0 0 1px gray;
    font-size: 1.3em;
    cursor: pointer;
    transition: all 300ms;
    padding: 1rem;
    border-radius: 1rem;
    color: gray;
    border: 1px solid transparent;
}

.worksample__li:hover,
.worksample__li-active {
    transition: all 300ms;
    box-shadow: 0 0 20px #D9B2D9, 0 0 5px #D9B2D9 inset;
    border: 1px solid purple;
    color: purple;
}

/*  */

.worksample__picture {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 1.5rem !important;
    position: relative;
    overflow: hidden;
}

.worksample__picture::before {
    content: "";
    width: 500px;
    height: 500px;
    background-color: #d0b1f1;
    filter: blur(35px);
    border-radius: 100rem;
    position: absolute;
    top: -150px;
    left: -200px;
    z-index: -1;
}

.worksample__picture::after {
    content: "";
    width: 550px;
    height: 550px;
    background-color: #D9B2D9;
    filter: blur(35px);
    border-radius: 100rem;
    position: absolute;
    bottom: -150px;
    right: -200px;
    z-index: -1;
}