@media screen and (max-width: 992px) {

    .navbar__parent {
        width: 250px !important;
        height: 80vh;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        box-shadow: 0 0 20px var(--gray-color);
        background-color: rgba(45, 46, 46, 1);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        flex-direction: column;
        justify-content: unset !important;
        overflow-y: auto;
        direction: rtl;
    }

    .navbar__right,
    .navbar__left {
        width: 100%;
        align-items: flex-end !important;
        flex-direction: column;
    }

    .navbar__right {
        padding-top: 5em;
    }

    .navbar__li {
        padding: 2em;
    }

    .navbar__li a {
        color: var(--white-color) !important;
        padding: 0 1em;
        transition: all 300ms;
        font-size: 1.2em;
    }


    .navbar__li a:hover {
        color: lightgray !important;
    }

    .navbar__logo {
        position: absolute;
        top: 40px;
        padding: 0 !important;
    }

    .navbar__logo svg path {
        fill: var(--white-color) !important;
    }
}