@media screen and (max-width: 992px) {

    .navbar__parent {
        width: 250px !important;
        height: 80vh;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        background-color: rgba(45, 46, 46, 1);
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        flex-direction: column;
        justify-content: unset !important;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .navbar__right,
    .navbar__left {
        width: 100%;
        align-items: flex-start !important;
        flex-direction: column;
    }

    .navbar__right {
        padding-top: 5em;
    }

    .navbar__li {
        margin: 2em;
    }

    .navbar__li a {
        color: var(--white-color) !important;
        padding: 0 1em;
        transition: all 300ms;
        font-size: 1.2em;
    }

    .navbar__li a:hover {
        color: lightgray !important;
    }

    .navbar__midd {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
        position: absolute;
        top: 40px;
        padding: 0 1.3em 0 2em !important;
    }

    .navbar__logo {
        padding: 0 !important;
    }

    .navbar__logo>svg {
        width: 140px !important;
    }

    .navbar__close {
        display: inline-block !important;
    }

    .navbar__menu {
        display: flex;
        height: 100vh;
        width: 250px;
    }

}

@media screen and (max-height: 820px) and (max-width: 992px) {
    .navbar__parent {
        height: 100vh;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}