@import "./media.css";

.navbar__parent,
.navbar__right,
.navbar__left {
    display: flex;
    align-items: center;
}

.navbar__logo svg path {
    fill: var(--white-color) !important;
}

.navbar__parent {
    position: absolute;
    width: 100%;
    padding-top: 3rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.navbar__left .navbar__li:last-child a,
.navbar__right .navbar__li:last-child a {
    padding-right: 0 !important;
}

.navbar__li {
    position: relative;
}

.navbar__li a {
    position: relative;
    color: var(--white-color);
    padding: 0 1em;
    transition: all 300ms;
    font-size: 1.2em;
    z-index: 999 !important;
}

.navbar__li a:hover {
    color: var(--lightgray-color);
}

.navbar__logo {
    padding: 0 5em;
}

.navbar__item-icon {
    position: absolute;
    top: -12px;
    left: -2px;
}

.navbar__li::before {
    content: "";
    width: 40px;
    height: 40px;
    background-color: rgba(211, 211, 211, .3);
    border-radius: 3rem;
    position: absolute;
    top: -10px;
    left: -2px;
}

.navbar__close {
    display: none;
}

.navbar__close svg:hover {
    color: rgb(229, 75, 75);
}

.navbar__close svg {
    cursor: pointer;
    font-size: 1.8rem;
    color: whitesmoke;
    transition: all 300ms;
}

.navbare__hidden {
    transition: all 500ms ease;
    transform: translateX(-300px);
}

.navbare__show {
    transition: all 500ms ease;
    transform: translateX(0px);
}

/*? start styling menu responsive */

.navbar__menu {
    background-color: transparent;
    width: 100%;
    position: absolute;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8rem 1rem;
    margin: 0;
}

.navbar__menu-icon>svg {
    font-size: 1.6em;
    transition: all 300ms;
    cursor: pointer;
    color: white;
}

.navbar__menu-icon>svg:hover {
    color: gray;
}

/*? end styling menu responsive */