@import "./media.css";

.customer__main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.customer__main:hover .customer__left {
    box-shadow: 0 0 50px lightgray;
}

.customer__right,
.customer__left {
    width: 500px;
    height: 540px;
}

.customer__left {
    transition: all 300ms;
    background-color: #F9F9F9;
    border-right: 0 !important;
    border: 8px dashed var(--primary-mid-color);
    border-top: 0 !important;
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 5;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 0 0 20px lightgray;
    position: relative;
    overflow: hidden;
}

.customer__left::before,
.customer__left::after {
    content: "";
    width: 100px;
    height: 100px;
    background-color: var(--primary-mid-color);
    border-radius: 50rem;
    position: absolute;
}

.customer__left::after {
    top: 0;
    left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.customer__left::before {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    bottom: 0;
    right: 0;
}

.customer__quote {
    border-radius: 2rem;
    width: clamp(50px, 4vw + 10px, 80px);
    position: relative;
}

.customer__desc {
    line-height: 1.9rem;
    font-size: clamp(10px, 1vw + 10px, 20px);
}

.customer__name {
    color: gray;
    font-weight: bold;
    font-size: clamp(10px, 1vw + 10px, 15px);
    position: relative;
}

.customer__name::before {
    content: "";
    width: 80px;
    height: 80px;
    border-radius: 20rem;
    background-color: lightgray;
    position: absolute;
    top: -38px;
    left: 0;
    z-index: -1;
    border-top-left-radius: 25rem;
    border-bottom-left-radius: 0;
}

/* card right */

.customer__right {
    display: flex;
    align-items: center;
}

.customer__img {
    width: 470px;
    border-radius: 2rem;
}