@import "../article/article.css";

.latest-content__main {
    margin-top: 9rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.latest-content__title {
    font-size: 2.7em;
    margin-bottom: 5rem;
}

.latest-content__articles {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.latest-content__btn {
    margin-top: 7rem;
    font-weight: bold;
    background-color: transparent;
    padding: 1.2rem;
    font-size: 1.1em;
    border-radius: 1rem;
    border: 0;
    box-shadow: 0 0 15px lightgray, 0 0 5px lightgray inset;
    transition: all 300ms;
}

.latest-content__btn:hover {
   color: var(--primary-color);
   box-shadow: 0 0 25px var(--primary-die-color), 0 0 5px var(--primary-die-color) inset;
}