.footer__main {
    border-top: 10px dashed var(--primary-color);
    width: 100%;
    color: var(--white-color);
    background: var(--black-die-color);
    padding: 2rem;
    padding-bottom: 1rem;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.footer__top,
.footer__bottom {
    max-width: 1400px;
    margin: auto;
}

.footer__top {
    border-bottom: 1px solid black;
}

.footer__boomodern svg path {
    fill: var(--white-color);
}

.footer__logos,
.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.footer__bottom {
    padding-top: 1rem;
}

.footer__desc {
    line-height: 2rem;
}

.footer__links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 50px;
    padding: 2rem 0;
}

.footer__icons>svg {
    font-size: 2.5em;
    cursor: pointer;
    transition: all 300ms;
    background-color: var(--primary-color);
    border-radius: .4rem;
    padding: .5rem;
}

.footer__icons svg:hover {
    color: lightgray;
    background-color: var(--primary-mid-color);
}

.footer__icons>svg:first-child {
    margin-right: 1rem;
}

.footer__contact {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.footer__contact:hover svg path,
.footer__contact {
    transition: all 300ms;
}

.footer__contact:hover,
.footer__contact:hover svg path {
    color: skyblue;
}

.footer__contact>svg {
    font-size: 1.7em;
    color: lightgray;
    margin-right: .5rem;
}

.footer__my {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer__myimg {
    width: 50px;
    border-radius: 50rem;
}

@media screen and (768px > width > 250px) {
    .footer__links {
        gap: 15px !important;
    }
}