@import "root.css";
@import "pages-styles/index.css";
@import "modules-styles/navbar/navbar.css";
@import "modules-styles/footer/footer.css";

* {
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  font-family: var(--font-family);
  direction: ltr;
  padding: 0;
  margin: 0;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

input:focus {
  border: 0;
  outline: 0;
}

button {
  cursor: pointer !important;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}