@import "fonts.css";

:root {
    --font-family: work_sans;
    --black-color: #17181D;
    --gray-color: gray;
    --lightgray-color: lightgray;
    --white-color: whitesmoke;
    --primary-color: rgb(111, 24, 132);
    --primary-low-color: rgba(111, 24, 132, .8);
    --primary-mid-color: rgba(111, 24, 132, .6);
    --primary-die-color: rgba(111, 24, 132, .4);
}