@import "fonts.css";

:root {
    --font-family: work_sans;
    --black-color: rgb(24, 26, 37);
    --gray-color: gray;
    --lightgray-color: lightgray;
    --white-color: whitesmoke;
    --primary-color: purple;
}